# {{ ansible_managed }}

{% for community in serviced_communities %}
[RoutingPolicyRule]
From=0.0.0.0/0
FirewallMark=255
Table=main
Priority=100
IncomingInterface=ff-{{ communities[community.name].shortname }}

{% endfor %}
