table inet firewall {
    chain inbound_wan {
        {% for community in serviced_communities %}
        ip saddr != $EXIT_IPS udp dport {{ communities[community.name].subnet4 | getoctet(2) | int + 20000}} accept    # {{ community.name }}
        meta protocol ip6 udp dport {{ communities[community.name].subnet4 | getoctet(2) | int + 20000}} accept    # {{ community.name }}
        {% endfor %}
        tcp dport 9281 accept    # fastd-exporter
    }
}
